{% import '@CoreHome/_dataTableActions.twig' as dataTableActions %}

{% set manageUrl = 'index.php?module=FunnelInsights&action=manage&idSite=' ~ idSite ~ '&period=' ~ period ~ '&date=' ~ date %}
{% set createUrl = 'index.php?module=FunnelInsights&action=edit&idSite=' ~ idSite ~ '&period=' ~ period ~ '&date=' ~ date %}

<div class="funnelOverviewWidget">
    <div class="funnelOverviewContent">
        {% if overviewData is not empty %}
            <div class="card">
                <div class="card-content">
                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 12px;">
                        <h3 class="card-title" style="margin: 0;">{{ 'FunnelInsights_ActiveFunnels'|translate }}</h3>
                        <a href="{{ manageUrl }}" class="btn btn-flat btn-small"><span class="icon-settings"></span></a>
                    </div>
                    <table class="dataTable entityTable">
                        <thead>
                            <tr>
                                <th>{{ 'General_Name'|translate }}</th>
                                <th>{{ 'FunnelInsights_Entries'|translate }}</th>
                                <th>{{ 'FunnelInsights_Conversions'|translate }}</th>
                                <th>{{ 'FunnelInsights_ConversionRate'|translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in overviewData %}
                                {% set viewUrl = 'index.php?module=FunnelInsights&action=viewFunnel&idSite=' ~ idSite ~ '&idFunnel=' ~ row.idfunnel ~ '&period=' ~ period ~ '&date=' ~ date %}
                                <tr>
                                    <td><a href="{{ viewUrl }}">{{ row.label|default('Funnel') }}</a></td>
                                    <td>{{ row.entries|default(0) }}</td>
                                    <td>{{ row.conversions|default(0) }}</td>
                                    <td>{{ row.conversion_rate|default(0) }} %</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="notification system notification-info" style="margin-bottom: 12px;">
                {{ 'FunnelInsights_NoActiveFunnels'|translate }}
            </div>
            <a href="{{ createUrl }}" class="btn"><span class="icon-add"></span> {{ 'FunnelInsights_CreateFunnel'|translate }}</a>
            <a href="{{ manageUrl }}" class="btn btn-flat">{{ 'FunnelInsights_ManageFunnels'|translate }}</a>
        {% endif %}
    </div>
</div>
